.headerColor{
    background-color: var(--navegacaoFundo);
}

a{
   color: var(--textoLink);
    background-color: var(--fundoSecund);
}
@media (max-width: 768px) {
    header .link-texto a {
      background-color: transparent !important;
    }
  }
  