.dashboard-container {
    display: flex;
    height: 100vh;
    font-family: 'Segoe UI', sans-serif;
  }

  /* Conteúdo Principal */
  .dashboard-content {
    flex-grow: 1;
    padding: 40px;
    background: #f9f9f9;
    overflow-y: auto;
  }
  
  .dashboard-content h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #2a2a72;
  }
  
  a:hover{
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .dashboard-container {
      flex-direction: column;
    }
}